<footer class='eshop-footer'>
  <div class='eshop-footer-content'>
    <div class='eshop-footer-row'>
      <svg width="200" height="100" xmlns="http://www.w3.org/2000/svg">
          <text x="10" y="50" font-family="Verdana" font-size="23" fill="white">SeattleU eShop</text>
      </svg>
      <img role="presentation" class='logo logo-footer' />
      <p>© SeattleU eShop</p>
    </div>
  </div>
</footer>